
 <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>


<!--
<!DOCTYPE html>
<html>
<head>
</head>
<body>
&lt;!&ndash;<div class="container"> &ndash;&gt;
  <h2>Database Results</h2>
  <ul>
 </ul>
&lt;!&ndash;</div>&ndash;&gt;
</body>
</html>-->
